    <!-- Feature: BSN-P03 -->
    <launch>
        
       <node name="patient_data_service" pkg="component" type="patient_data_service" output="screen" />

        <include file="/workspaces/bsn/src/sa-bsn/configurations/target_system/probe.launch" />  <!-- APPLICATION -->
        <include file="/workspaces/bsn/src/sa-bsn/configurations/target_system/effector.launch" /> <!-- APPLICATION -->

        <include file="/workspaces/bsn/src/sa-bsn/configurations/target_system/g4t1.launch" />

     
    <!-- Temperature Measurement Sensor -->
    <node name="g3t1_3" pkg="component" type="g3t1_3" output="screen" />

    <param name="start" value="true" />

    <param name="frequency" value="30" /> <!-- 1 Hz  -->

    <!-- Defines the percentages to consider low, moderate or high risk -->
    <param name="lowrisk" value="0,20" />
    <param name="midrisk" value="21,65" />
    <param name="highrisk" value="66,100" />

    <!-- accuracy in percentage -->
    <param name="data_accuracy" value="99" type="double" />
    <param name="comm_accuracy" value="100" type="double" />

    <!-- instant recharge parameter-->
    <param name="instant_recharge" value="true" type="bool" />

    <!-- real world parameter-->
    <param name="connect_sensor" value="false" type="bool" />


        
        <!-- <test test-name="sensor_execution_test" pkg="component" type="sensor_execution_test"/> -->
    </launch>
